@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p>
    Valais Eat est un projet réalisé par Valentin Haenggeli et Thomas Luyet
    dans le cadre du cours Software Development.
</p>
