@{
    ViewData["Title"] = "About";
}

    

    <body style="background-image: url('/images/webplunder-background-image-technology-online-website-solutions.jpg');">

        <h2>A propos</h2>

        <p>
            Valais Eat est un projet réalisé par Valentin Haenggeli et Thomas Luyet
            dans le cadre du cours Software Development.
        </p>
        <p>
            Il a pour but de pouvoir gérer un système de commande de nourriture en ligne afin de faire livrer
            les plats au domicile du client
        </p>

    </body>


