@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Rue de la Plaine 2<br />
    3960 Sierre<br />
    <abbr title="Phone">Tél:</abbr>
    027 606 89 11
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">thomas.luyet@students.hevs.ch</a><br />
</address>
