@{
    ViewData["Title"] = "Contact";
}

    <style>

        body {
            color: aqua
        }

        body {
            image-resolution: unset
        }

        strong{
            color:aquamarine
        }

        a{
            color:aqua
        }
        
    </style>

    <body style="background-image: url('/images/contact-background.png');">

        <h2>@ViewData["Title"]</h2>


        <address>
            Rue de la Plaine 2<br />
            3960 Sierre<br />
            <abbr title="Phone">Tél:</abbr>
            027 606 89 11
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">thomas.luyet@students.hevs.ch</a><br />
        </address>

    </body>