
@{
    ViewData["Title"] = "Delivers";
}



    <body style="background-image: url('/images/sky.jpg')">

        <h2>Staff</h2>

        <p>
            <h3>@ViewData["Message"]</h3>
        </p>


    </body>


