@{
    ViewData["Title"] = "Home Page";
}

    

    <style>

        body{text-align:center}
        body{image-resolution:unset}

    </style>

<html>

    <body>
        <div>

            <h1>Bienvenue sur Valais Eat</h1>

            <img src="~/images/valais.png" style="margin: 0 auto; width : 100% ;" />

</div>
    </body>
    </html>